.header .header__logo a, .socials a, .mainslider .mainslider__nav a { font: 0/0 a; text-shadow: none; color: transparent; }

.cols, .profile__info, .profile__social, .profile__lvl { *zoom: 1; }
.cols:before, .profile__info:before, .profile__social:before, .profile__lvl:before, .cols:after, .profile__info:after, .profile__social:after, .profile__lvl:after { content: " "; display: table; }
.cols:after, .profile__info:after, .profile__social:after, .profile__lvl:after { clear: both; }

@font-face { font-family: 'Rodchenko'; src: url("fonts/rodchenko.eot"); src: url("fonts/rodchenko.eot") format("embedded-opentype"), url("fonts/rodchenko.woff") format("woff"), url("fonts/rodchenko.ttf") format("truetype"), url("fonts/rodchenko.svg#RodchenkoCTTRegular") format("svg"); }

* { margin: 0; padding: 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
button::-moz-focus-inner { padding: 0; border: 0; }

input[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

body { font-family: Arial,sans-serif; font-weight: normal; font-size: 12px; line-height: 1.4; background: url(../img/bg.jpg) repeat 50% 0; }

.wrapper { background: url(../img/bg1.jpg) no-repeat 50% 0; }

.wrapper_books { background: url(../img/bg2.jpg) no-repeat 50% 0; }

.wrapper_news { background: none; }

.wrapper_tabs, .wrapper_profile { background: url(../img/bg3.jpg) no-repeat 50% 0; }

.btn a, .btn button { display: inline-block; height: 30px; padding: 0 10px; -webkit-box-shadow: 0 3px 0 #1c0601; -moz-box-shadow: 0 3px 0 #1c0601; box-shadow: 0 3px 0 #1c0601; background: url(../img/worn1.jpg); font-size: 14px; color: #000; text-shadow: 0 1px 1px #CFA16A; line-height: 30px; text-transform: uppercase; }

a img, fieldset { border: none; }

a { color: #FFB23D; text-decoration: none; }

.ico-user { background: url('../img/icons-s458726b66b.png') 0 -1519px no-repeat; width: 14px; height: 15px; }

.ico-mail { background: url('../img/icons-s458726b66b.png') 0 -1497px no-repeat; width: 16px; height: 12px; }

.ico-setting { background: url('../img/icons-s458726b66b.png') 0 -1470px no-repeat; width: 16px; height: 17px; }

.ico-comm { background: url('../img/icons-s458726b66b.png') 0 -977px no-repeat; width: 24px; height: 20px; }

.ico-write { background: url('../img/icons-s458726b66b.png') 0 -1007px no-repeat; width: 19px; height: 20px; }

.ico-work { background: url('../img/icons-s458726b66b.png') 0 -1448px no-repeat; width: 16px; height: 12px; }

.ico-metro { background: url('../img/icons-s458726b66b.png') 0 -1167px no-repeat; width: 15px; height: 16px; }

.ico-patron { background: url('../img/icons-s458726b66b.png') 0 -1037px no-repeat; width: 13px; height: 33px; }

.header .header__register, .mainslider .slide .slide__more a, .footer .footer__register, .book-banner__more a { font-size: 19px; display: inline-block; text-shadow: 0 1px 1px #FAD15F; color: #0d0f09; font-family: "Rodchenko",sans-serif; height: 42px; line-height: 42px; padding: 0 22px; text-decoration: none; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fad867), color-stop(100%, #ed8a31)); background-image: -webkit-linear-gradient(#fad867, #ed8a31); background-image: -moz-linear-gradient(#fad867, #ed8a31); background-image: -o-linear-gradient(#fad867, #ed8a31); background-image: linear-gradient(#fad867, #ed8a31); position: relative; }
.header .header__register span, .mainslider .slide .slide__more a span, .footer .footer__register span, .book-banner__more a span { position: relative; z-index: 2; }
.header .header__register:before, .mainslider .slide .slide__more a:before, .footer .footer__register:before, .book-banner__more a:before { content: ' '; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: url(../img/worn.jpg) no-repeat 0 0; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; z-index: 1; }

.outer { width: 1090px; margin: 0 auto; }

.footer__in { width: 1090px; margin: 0 auto; }

.l { width: 100%; overflow: hidden; margin-right: -37px; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }
.l .l-col { width: 338px; margin-right: 35px; float: left; }
.l .l-col.l-col_last { margin-right: 0; }

.cols { width: 1000px; margin: 0 auto; }

.cols__left { float: left; width: 771px; }

.cols__right { float: right; width: 215px; }

.cols_profile { padding-top: 10px; }
.cols_profile .cols__left { width: 567px; }
.cols_profile .cols__right { float: left; width: 400px; }

/*scroll*/
.jspContainer { overflow: hidden; position: relative; }

.jspPane { position: absolute; width: 100% !important; }

.jspVerticalBar { position: absolute; top: 0; right: 0; width: 6px; height: 100%; -webkit-transition: opacity, 0.2s, linear; -moz-transition: opacity, 0.2s, linear; -o-transition: opacity, 0.2s, linear; transition: opacity, 0.2s, linear; -webkit-transform: translateZ(0); transform: translateZ(0); }

.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 16px; background: red; display: none; }

.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }

.jspCap { display: none; }

.jspHorizontalBar .jspCap { float: left; }

.jspTrack { width: 6px; border: 1px solid #614F42; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: relative; }

.jspDrag { position: relative; top: 0; left: -1px; right: -1px; width: 4px; background: #F4A83E; border: 1px solid #F4A83E; cursor: pointer; }

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }

.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer; }

.jspArrow.jspDisabled { cursor: default; background: #80808d; }

.jspVerticalBar .jspArrow { height: 16px; }

.jspHorizontalBar .jspArrow { width: 16px; float: left; height: 100%; }

.jspVerticalBar .jspArrow:focus { outline: none; }

.jspCorner { background: #eeeef4; float: left; height: 100%; }

* html .jspCorner { margin: 0 -3px 0 0; }

.header { position: relative; height: 222px; background: url(../img/header.png) no-repeat 50% 44px; }
.header .socials { position: absolute; left: 17px; top: 26px; }
.header .header__register { position: absolute; top: 26px; right: 0; height: 30px; line-height: 30px; font-size: 14px; }
.header .nav { position: absolute; z-index: 10; list-style: none; top: 84px; left: 0; font-size: 21px; color: #f8ead6; text-shadow: 0 1px 1px #000; font-family: "Rodchenko",sans-serif; line-height: 1; }
.header .nav li { float: left; height: 91px; }
.header .nav li.is-active a { color: #FFF; }
.header .nav li.is-active.nav__item-1 a { background: url('../img/icons-s458726b66b.png') 0 -101px no-repeat; width: 139px; height: 90px; }
.header .nav li.is-active.nav__item-2 a { background: url('../img/icons-s458726b66b.png') 0 0 no-repeat; width: 230px; height: 91px; }
.header .nav li.is-active.nav__item-3 a { background: url('../img/icons-s458726b66b.png') 0 -201px no-repeat; width: 100px; height: 91px; }
.header .nav li.nav__item-1 { width: 139px; margin-left: -10px; }
.header .nav li.nav__item-2 { width: 230px; margin-left: -31px; }
.header .nav li.nav__item-3 { width: 100px; margin-left: -6px; }
.header .nav a { display: block; line-height: 91px; color: #f8ead6; text-decoration: none; text-align: center; }
.header .nav a:hover { color: #fff; }
.header .header__logo { position: absolute; left: 432px; top: 51px; width: 213px; height: 164px; z-index: 10; }
.header .header__logo a { display: block; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
.header .login { left: 672px; top: 97px; position: absolute; width: 410px; min-height: 60px; }
.header .login label { font-family: "Rodchenko",sans-serif; font-size: 13px; color: #F3E5D3; text-shadow: 0 1px 1px #000; display: block; padding-bottom: 6px; }
.header .login_detail, .header .login_profile { right: 30px; left: auto; }
.header .login_detail .login__submit, .header .login_profile .login__submit { position: absolute; right: 0; bottom: 2px; left: auto; }
.header .login_detail { width: 176px; }
.header .login_profile { width: 350px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); }
.header .login_profile .login__links { float: left; margin-right: 23px; }
.header .login__forgot { font-size: 10px; display: block; padding-top: 2px; }
.header .login__forgot a { color: #f1e4d1; text-decoration: none; }
.header .login__input { width: 127px; padding: 7px 10px; font-size: 12px; color: #fff; text-shadow: 0 1px 0 #000; background: rgba(0, 0, 0, 0.3); border-style: none; border-top: 1px solid rgba(0, 0, 0, 0.7); border-bottom: 1px solid rgba(255, 255, 255, 0.3); display: inline-block; margin-right: 14px; }
.header .login__input:-moz-placeholder { color: white; }
.header .login__input::-webkit-input-placeholder { color: white; }
.header .login__input:focus { outline: none; background: rgba(0, 0, 0, 0.6); }
.header .login__submit { display: inline-block; cursor: pointer; vertical-align: top; position: relative; left: -4px; width: 66px; height: 30px; -webkit-box-shadow: 0 3px 0 #1c0601; -moz-box-shadow: 0 3px 0 #1c0601; box-shadow: 0 3px 0 #1c0601; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efd9b1), color-stop(100%, #c37740)); background-image: -webkit-linear-gradient(#efd9b1, #c37740); background-image: -moz-linear-gradient(#efd9b1, #c37740); background-image: -o-linear-gradient(#efd9b1, #c37740); background-image: linear-gradient(#efd9b1, #c37740); }
.header .login__submit:before { content: ' '; position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; background: url(../img/worn1.jpg) no-repeat 0 0; }
.header .login__submit span { font-family: "Rodchenko",sans-serif; font-size: 14px; color: #000; text-shadow: 0 1px 1px #CFA16A; display: block; height: 30px; line-height: 30px; text-align: center; position: relative; z-index: 2; }
.header .login__submit input { opacity: 0; position: absolute; z-index: 3; top: 0; left: 0; bottom: 0; right: 0; -webkit-appearance: none; cursor: pointer; }
.header .login__links li { margin-bottom: 2px; list-style: none; color: #f1e4d1; }
.header .login__links li:first-child { margin-bottom: 7px; }
.header .login__links li:first-child, .header .login__links li:first-child a { font-family: "Rodchenko",sans-serif; font-size: 14px; }
.header .login__links a { position: relative; padding-left: 30px; font-size: 10px; color: #f1e4d1; text-decoration: none; }
.header .login__links i { position: absolute; }
.header .login__links i.ico-user { top: 0; left: 1px; }
.header .login__links i.ico-mail { top: 1px; left: 0; }
.header .login__links i.ico-setting { top: 0; left: 1px; }
.header .login__links i.ico-work { top: 1px; left: 0; }
.header .login__links i.ico-metro { top: -1px; left: 1px; }
.header .login__desc, .header .login__data { float: left; }
.header .login__desc { margin-bottom: 5px; }
.header .login__desc a { position: relative; float: left; color: #f1e4d1; }
.header .login__desc a.login__nick { padding-left: 25px; margin: 1px 12px 0 0; font-size: 14px; }
.header .login__desc a.login__nick .ico-user { position: absolute; top: 2px; left: 0; }
.header .login__desc a.login__messages { padding-left: 19px; margin-top: 4px; font-size: 10px; }
.header .login__desc a.login__messages .ico-mail { position: absolute; top: 1px; left: 0; }
.header .login__patrons, .header .login__authority { float: left; color: #f1e4d1; text-align: center; line-height: 1; }
.header .login__patrons span, .header .login__authority span { display: block; font-size: 10px; }
.header .login__patrons span:first-child, .header .login__authority span:first-child { font-size: 28px; }
.header .login__patrons { position: relative; padding: 0 9px 0 16px; border-right: 1px solid #2d140e; }
.header .login__patrons .ico-patron { position: absolute; top: 4px; left: 0; }
.header .login__authority { padding: 0 9px; }

.header_inner { background: url(../img/header-inner.png) no-repeat 50% 44px; z-index: 5; }

.socials { list-style: none; }
.socials li { float: left; }
.socials a { margin-right: 9px; display: inline-block; }
.socials .socials__fb { background: url('../img/icons-s458726b66b.png') 0 -838px no-repeat; width: 26px; height: 26px; }
.socials .socials__vk { background: url('../img/icons-s458726b66b.png') 0 -874px no-repeat; width: 26px; height: 26px; }
.socials .socials__tw { background: url('../img/icons-s458726b66b.png') 0 -802px no-repeat; width: 26px; height: 26px; }
.socials .socials__plus { background: url('../img/icons-s458726b66b.png') 0 -910px no-repeat; width: 26px; height: 26px; }

.mainslider { position: relative; height: 388px; width: 100%; }
.mainslider .mainslider__prev, .mainslider .mainslider__next { top: 142px; position: absolute; left: -20px; cursor: pointer; background: url('../img/icons-s458726b66b.png') 0 -1193px no-repeat; width: 26px; height: 46px; z-index: 100; }
.mainslider .mainslider__next { left: auto; right: -12px; background: url('../img/icons-s458726b66b.png') 0 -1249px no-repeat; width: 26px; height: 46px; }
.mainslider .mainslider__bg { position: absolute; top: 0; left: 0; background: url(../img/mainslider__bg.png) no-repeat 0 0; width: 1090px; height: 356px; }
.mainslider .mainslider__nav { text-align: center; position: absolute; top: 364px; width: 100%; left: 0; }
.mainslider .mainslider__nav a { display: inline-block; vertical-align: top; margin-right: 8px; background: url('../img/icons-s458726b66b.png') 0 -1544px no-repeat; width: 13px; height: 13px; height: 14px; }
.mainslider .mainslider__nav a.activeSlide { background: url('../img/icons-s458726b66b.png') 0 -1334px no-repeat; width: 13px; height: 17px; }
.mainslider .mainslider__slider { width: 1090px; height: 356px; position: relative; }
.mainslider .mainslider__slides { position: relative; top: -31px; width: 1090px; height: 356px; padding-top: 31px; }
.mainslider .slide { width: 1090px; height: 356px; margin-top: 31px; color: #fff; }
.mainslider .slide .slide__pic { position: absolute; right: 80px; top: -30px; -webkit-transition: all 0.01s; -moz-transition: all 0.01s; -o-transition: all 0.01s; transition: all 0.01s; opacity: 0; }
.mainslider .slide .slide__pic.is-animated { opacity: 1; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.mainslider .slide .slide__content { position: absolute; top: 52px; left: 52px; width: 400px; }
.mainslider .slide .slide__content h2 { font-family: "Rodchenko",sans-serif; font-size: 38px; font-weight: normal; line-height: 1; margin-bottom: 18px; }
.mainslider .slide .slide__content h2 span { display: block; color: #f2aa1e; }
.mainslider .slide .slide__more { margin-top: 32px; }

.footer { height: 453px; background: url(../img/footer.png) no-repeat 50% 0; }
.footer h3 { color: #ecd4aa; font-size: 30px; font-weight: normal; text-align: center; padding-top: 37px; margin-bottom: 37px; text-shadow: 0 0 2px #000; }
.footer p { font-size: 12px; color: #fff; line-height: 1.7; text-align: center; }
.footer .footer__bottom { height: 78px; position: relative; margin-top: 12px; }
.footer .footer__register { position: absolute; top: 14px; right: 0; height: 30px; line-height: 30px; font-size: 14px; }
.footer .socials { position: absolute; left: 0; top: 0; }
.footer .footer__nav { text-align: center; font-size: 18px; font-family: "Rodchenko",sans-serif; text-shadow: 0 1px 2px black; margin-bottom: 17px; }
.footer .footer__nav li, .footer .footer__nav a { display: inline-block; }
.footer .footer__nav a { text-decoration: none; color: #ebd7c1; margin: 0 14px; }
.footer .footer__nav a:hover { color: #ffffff; }
.footer .footer__copy { font-size: 10px; color: #757474; line-height: 1.5; text-align: center; }
.footer .footer__copy p { font-size: 10px; color: #757474; line-height: 1.4; }
.footer .footer__logo { margin-top: 38px; text-align: center; }
.footer .footer__logo a { display: inline-block; background: url('../img/icons-s458726b66b.png') 0 -432px no-repeat; width: 95px; height: 74px; }

.footer_inner { height: auto; background: none; }

.l { height: 566px; }

.hentry { border: 10px solid #614F42; display: block; text-decoration: none; position: relative; margin-bottom: 23px; }
.hentry.hentry_online { border-color: #A2582E; }
.hentry.hentry_lastlight { border-color: #3C1C06; }
.hentry .hentry__pic img { display: block; }
.hentry .hentry__label { font-family: "Rodchenko",sans-serif; font-size: 18px; text-transform: uppercase; color: #fefefe; text-shadow: 0 1px 1px #000; background: url('../img/icons-s458726b66b.png') 0 -604px no-repeat; width: 116px; height: 35px; position: absolute; z-index: 10; top: -1px; left: -10px; line-height: 33px; text-indent: 10px; }
.hentry .hentry__content { position: absolute; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.6); padding: 10px; font-size: 12px; color: #fff; line-height: 1.2; }
.hentry .hentry__content h2 { font-size: 18px; color: #ffb400; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); line-height: 1; font-family: "Rodchenko",sans-serif; margin-bottom: 4px; }
.hentry .hentry__content p { margin: 0 4px; }

.news { width: 322px; margin: 0 0 10px 10px; height: 265px; overflow: auto; }

.newsentry { padding-right: 10px; margin-bottom: 24px; }
.newsentry a { display: block; margin-bottom: 6px; line-height: 1.1; text-decoration: none; color: #fff; text-transform: uppercase; }
.newsentry .newsentry__date { display: inline-block; font-size: 9px; text-transform: uppercase; background: #614F42; padding: 5px 5px 3px; line-height: 1; color: #fff; color: rgba(255, 255, 255, 0.8); text-shadow: 0 1px 1px #000; }
.newsentry.newsentry_online .newsentry__date { background: #C58E4D; }
.newsentry.newsentry_lastlight .newsentry__date { background: #532A10; }

.breadcrumbs { position: relative; margin: -32px 0 15px 0; padding-left: 25px; height: 32px; z-index: 10; }
.breadcrumbs li { float: left; margin-right: 15px; list-style: none; }
.breadcrumbs a, .breadcrumbs span { display: block; color: #c5c0bc; text-transform: uppercase; font-size: 9px; }
.breadcrumbs a { padding: 3px 0 0 7px; }
.breadcrumbs span { position: relative; padding: 3px 17px 0 0; cursor: pointer; }
.breadcrumbs span:after { content: ""; position: absolute; top: 6px; right: 0; width: 0px; height: 0px; border-style: solid; border-width: 5px 3.5px 0 3.5px; border-color: #a09c97 transparent transparent transparent; }

.breadcrumbs__link { background: url('../img/icons-s458726b66b.png') 0 -946px no-repeat; width: 64px; height: 21px; }

.book-banner { position: relative; margin-bottom: 30px; }

.book-banner__detail { position: absolute; top: 50px; left: 60px; width: 570px; }
.book-banner__detail p { margin-bottom: 15px; color: #FFF; line-height: 1.5; }

.book-banner__title a { display: block; margin-bottom: 10px; font-family: "Rodchenko",sans-serif; font-size: 38px; line-height: 1; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75); font-weight: normal; }
.book-banner__title span { display: block; color: #FFF; }

.book-banner__more { margin-top: 30px; }

.books { margin-bottom: 160px; overflow: hidden; }

.books__list { margin-right: -20px; }

.books__item { float: left; width: 535px; height: 294px; margin: 0 12px 15px 0; border: 1px solid #3c3836; background: rgba(0, 0, 0, 0.62); box-shadow: #000 0 5px 0; }
.books__item:hover { border-color: #000; background: url(../img/books-bg.png) rgba(130, 86, 59, 0.62); }
.books__item:hover .books__rating-info { color: #fff; }

.books__left { float: left; width: 180px; text-align: center; }

.books__pic { padding: 25px 0 18px 0; }

.books__rating { margin-bottom: 10px; font-size: 0; }
.books__rating img { margin: 0 2px; }

.books__rating-info { text-align: center; font-size: 9px; color: #b1b1b1; text-shadow: #000 0 1px 1px; text-transform: uppercase; }

.books__right { padding: 25px 35px 0 0; overflow: hidden; }

.books__detail { margin-bottom: 20px; }
.books__detail a { display: block; margin-bottom: 10px; font-family: "Rodchenko",sans-serif; font-size: 28px; line-height: 1; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75); font-weight: normal; }
.books__detail span { display: block; color: #FFF; }
.books__detail p { font-size: 12px; color: #FFF; line-height: 1.5; }

.books__social { padding-left: 5px; margin-bottom: 20px; opacity: 0.4; }

.books__links { padding-left: 5px; font-size: 0; }
.books__links a { position: relative; display: inline-block; padding-left: 30px; margin-right: 23px; font-family: "Rodchenko",sans-serif; font-size: 17px; text-shadow: 0 2px 0 #000; }
.books__links i { position: absolute; }
.books__links i.ico-comm { top: 4px; left: 0; }
.books__links i.ico-write { top: 2px; left: 5px; }

.last-news { margin: -120px 0 60px 0; padding-top: 65px; }

.last-news__in { padding-top: 132px; background: url(../img/video-bg.png) 43% 0 no-repeat; }

.last-news__video { width: 700px; height: 435px; margin: 0 0 100px 183px; }

.last-news__title { margin-bottom: 70px; text-align: center; font-size: 32px; line-height: 1; font-family: "Rodchenko",sans-serif; color: #e65a01; }
.last-news__title h2 { font-weight: normal; }
.last-news__title span { display: block; color: #fff; }

.block-list { margin-right: -30px; }
.block-list ul { position: relative; }
.block-list li { width: 235px; float: left; margin: 0 24px 24px 0; box-shadow: rgba(255, 255, 255, 0.9) 0 0 1px; background: rgba(0, 0, 0, 0.62); font-size: 0; }
.block-list li:hover { background: url(../img/news-bg.jpg); }
.block-list a { display: block; padding: 10px; margin: 1px; }
.block-list img { margin-bottom: 25px; }
.block-list span { display: inline-block; margin-left: 10px; background: #522b09; font-size: 9px; text-transform: uppercase; padding: 5px 5px 3px; line-height: 1; color: #fff; text-shadow: 0 1px 1px #000; }
.block-list p { padding: 10px; font-size: 12px; color: #FFF; line-height: 1.5; }

.social-plugs { margin-bottom: 25px; }

.tabs__nav { margin-bottom: 20px; text-align: center; font-size: 0; }
.tabs__nav li { display: inline-block; height: 42px; line-height: 42px; padding: 0 20px; font-family: "Rodchenko",sans-serif; font-size: 21px; color: #FFF; cursor: pointer; }
.tabs__nav li:hover { color: #ebb444; }
.tabs__nav li.is-active { background: url(../img/tabs-bg.png); color: #000; cursor: default; }

.tabs__content { margin-bottom: 60px; }
.tabs__content .block-list { margin: 0 0 0 35px; }

.profile { margin: 5px 10px 22px 0; padding: 23px 15px 18px 23px; background: rgba(130, 86, 59, 0.62); text-shadow: rgba(0, 0, 0, 0.75) 0 1px 1px; }

.profile__info { margin-bottom: 20px; }

.profile__ava { float: left; margin-right: 13px; }
.profile__ava img { display: block; border: 6px solid #fff; box-shadow: rgba(0, 0, 0, 0.73) 0 2px 2px; }

.profile__desc { float: left; width: 410px; }

.profile__name { margin-bottom: 10px; font-family: "Rodchenko",sans-serif; font-size: 23px; color: #f8ead6; line-height: 1; }

.profile__social { margin-bottom: 10px; }
.profile__social li { float: left; margin-right: 5px; list-style: none; }
.profile__social a { display: block; box-shadow: black 0 0 1px, rgba(0, 0, 0, 0.3) 0 1px 0 inset, rgba(255, 255, 255, 0.3) 0 -1px 0 inset; }
.profile__social .profile__fb { background: url('../img/icons-s458726b66b.png') 0 -1419px no-repeat; width: 19px; height: 19px; }
.profile__social .profile__vk { background: url('../img/icons-s458726b66b.png') 0 -1305px no-repeat; width: 19px; height: 19px; }
.profile__social .profile__mr { background: url('../img/icons-s458726b66b.png') 0 -1080px no-repeat; width: 19px; height: 19px; }
.profile__social .profile__tw { background: url('../img/icons-s458726b66b.png') 0 -1361px no-repeat; width: 19px; height: 19px; }
.profile__social .profile__yr { background: url('../img/icons-s458726b66b.png') 0 -1390px no-repeat; width: 19px; height: 19px; }
.profile__social .profile__lj { background: url('../img/icons-s458726b66b.png') 0 -1138px no-repeat; width: 19px; height: 19px; }
.profile__social .profile__ok { background: url('../img/icons-s458726b66b.png') 0 -1109px no-repeat; width: 19px; height: 19px; }

.profile__activity { font-size: 11px; color: #FFF; text-transform: uppercase; }
.profile__activity span { display: block; text-transform: none; }

.profile__lvl { padding-bottom: 10px; margin-bottom: 5px; border-bottom: 1px solid #a27b5d; }
.profile__lvl strong { float: left; margin-right: 20px; font-family: "Rodchenko",sans-serif; font-size: 28px; color: #ffcf8a; font-weight: normal; line-height: 1; }
.profile__lvl .border { position: relative; float: left; width: 358px; margin-top: 6px; border-width: 10px 21px; }
.profile__lvl .border span, .profile__lvl .border i { position: absolute; height: 14px; }
.profile__lvl .border span { top: -7px; right: -17px; bottom: -7px; left: -17px; }
.profile__lvl .border i { top: 0; left: 0; background: url(../img/lvl.jpg); box-shadow: #f6de91 0 0 5px 2px inset; }

.profile__statistic { margin-bottom: 15px; padding-left: 5px; }
.profile__statistic strong { margin-bottom: 5px; font-family: "Rodchenko",sans-serif; font-size: 26px; color: #f0e0c9; font-weight: normal; }
.profile__statistic ul { overflow: hidden; }
.profile__statistic li { float: left; width: 90px; margin-left: 25px; padding: 0 0 5px 25px; border-left: 1px solid #986f4d; color: #f1e4d1; font-size: 32px; list-style: none; }
.profile__statistic li span { display: block; min-height: 50px; font-family: "Rodchenko",sans-serif; font-size: 16px; color: #ffcf8a; line-height: 1.0; }
.profile__statistic li.profile__pvp { width: auto; }
.profile__statistic li:first-child { padding: 0; margin: 0; border: none; }

.profile__progress strong { font-family: "Rodchenko",sans-serif; font-size: 16px; font-weight: normal; color: #ffcf8a; }
.profile__progress ul { margin-top: 10px; overflow: hidden; }
.profile__progress li { float: left; width: 80px; margin-right: 15px; list-style: none; }
.profile__progress img { box-shadow: rgba(0, 0, 0, 0.75) 0 2px 2px; }
.profile__progress p { margin-top: 10px; font-size: 10px; color: #FFF; }
.profile__progress p span { display: block; text-transform: uppercase; line-height: 1; }

.creative .border { margin-bottom: 20px; height: 1px; font-family: "Rodchenko",sans-serif; font-size: 23px; color: #f8ead6; text-align: center; }
.creative .border span { position: relative; top: -17px; text-transform: uppercase; }

.creative__content { margin-right: 10px; padding: 0 10px; }

.creative__item { border-top: 1px solid #a27b5d; overflow: hidden; }
.creative__item:first-child { border: none; }

.creative__top { overflow: hidden; }
.creative__top .creative__rating { float: right; }
.creative__top .creative__name { float: left; }

.creative__name { padding: 10px 0 15px 0; }
.creative__name a { font-family: "Rodchenko",sans-serif; font-size: 16px; color: #ffcf8a; text-transform: uppercase; }
.creative__name span { display: block; font-size: 11px; color: #949494; }

.creative__rating { padding: 10px 0 15px 0; overflow: hidden; }
.creative__rating li { float: left; font-size: 0; }
.creative__rating li:first-child { margin-right: 15px; }
.creative__rating span, .creative__rating strong { display: inline-block; vertical-align: middle; }
.creative__rating span { margin-right: 8px; color: #949494; font-size: 11px; text-transform: uppercase; }
.creative__rating strong { font-weight: normal; font-family: "Rodchenko",sans-serif; font-size: 20px; color: #f0e0c9; }

.creative__desc { margin-bottom: 15px; }
.creative__desc p { font-size: 12px; color: #FFF; line-height: 1.5; }

.creative__block { float: left; width: 200px; }
.creative__block .creative__name { padding: 10px 0 7px 0; }
.creative__block .creative__rating { padding: 5px 0 15px; }
.creative__block:first-child { margin-right: 80px; }

.creative__pic img { padding: 9px; border: 1px solid #433d3c; }

.person { position: relative; width: 360px; font-family: "Rodchenko",sans-serif; font-size: 23px; color: #f8ead6; text-align: center; }
.person .border { position: relative; top: -39px; display: inline-block; height: 1px; text-align: center; z-index: 15; }
.person .border span { position: relative; top: -17px; text-transform: uppercase; }

.person__detail { position: relative; width: 382px; height: 450px; margin: -62px 0 -14px -12px; background: #2e2a25; z-index: 10; }
.person__detail img { margin: 45px 0 5px 0; }

.person__vuebon-1, .person__vuebon-2, .person__vuebon-3, .person__vuebon-4 { position: absolute; z-index: 5; }

.person__vuebon-1 { top: -21px; left: -74px; background: url('../img/icons-s458726b66b.png') 0 -744px no-repeat; width: 56px; height: 48px; }

.person__vuebon-2 { top: -20px; right: -79px; background: url('../img/icons-s458726b66b.png') 0 -649px no-repeat; width: 60px; height: 85px; }

.person__vuebon-3 { bottom: -26px; right: -55px; background: url('../img/icons-s458726b66b.png') 0 -516px no-repeat; width: 89px; height: 78px; }

.person__vuebon-4 { bottom: -26px; left: -109px; background: url('../img/icons-s458726b66b.png') 0 -302px no-repeat; width: 100px; height: 120px; }

.border { border: 21px solid #fff; background: #000; box-shadow: #000 0 3px 5px; -webkit-border-image: url(../img/border.jpg) 21 round round; -moz-border-image: url(../img/border.jpg) 21 round round; -o-border-image: url(../img/border.jpg) 21 round round; border-image: url(../img/border.jpg) 21 round round; }

.border-aside { border: 20px solid #fff; background: #000; box-shadow: #000 0 3px 5px; -webkit-border-image: url(../img/border-mod.jpg) 20 round round; -moz-border-image: url(../img/border-mod.jpg) 20 round round; -o-border-image: url(../img/border-mod.jpg) 20 round round; border-image: url(../img/border-mod.jpg) 20 round round; }
