// Normally innerpages styles
//breadcrumbs
.breadcrumbs{
	position: relative;
	margin: -32px 0 15px 0;
	padding-left: 25px;
	height: 32px;
	z-index: 10;
	li{
		float: left;
		margin-right: 15px;
		list-style: none;
	}
	a, span{
		display: block;
		color: #c5c0bc;
		text-transform: uppercase;
		font-size: 9px;
	}
	a{
		padding: 3px 0 0 7px;
	}
	span{
		position: relative;
		padding: 3px 17px 0 0;
		cursor: pointer;
		&:after{
			content: "";
			position: absolute;
			top: 6px;
			right: 0;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 5px 3.5px 0 3.5px;
			border-color: #a09c97 transparent transparent transparent;
		}
	}
	.breadcrumbs__select{
		position: relative;
		select{
			-webkit-apperance:none;
			height: 30px;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			opacity: 0;
			width: 100%;
		}
	}
}
.breadcrumbs__link{
	@include s($icons, bc-main);
}
//book-banner
.book-banner{
	position: relative;
	margin-bottom: 30px;
}
.book-banner__detail{
	position: absolute;
	top: 50px;
	left: 60px;
	width: 570px;
	p {
		margin-bottom: 15px;
		color: #FFF;
		line-height: 1.5;
	}
}
.book-banner__title {
	a{
		display: block;
		margin-bottom: 10px;
		@include rfont;
		font-size: 38px;
		line-height: 1;
		text-shadow: 0 1px 1px rgba(0,0,0,.75);
		font-weight: normal;
	}
	span{
		display: block;
		color: #FFF;
	}
}
.book-banner__more{
	margin-top: 30px;
	a{
		@extend %worn-button;
	}
}
//books
.books{
	margin-bottom: 160px;
	overflow: hidden;
}
.books__list{
	margin-right: -20px;
}
.books__item{
	float: left;
	width: 535px;
	height: 294px;
	margin: 0 12px 15px 0;
	border: 1px solid #3c3836;
	background: rgba(0,0,0,.62);
	box-shadow: #000 0 5px 0;
	&:hover{
		border-color: #000;
		background: url(../img/books-bg.png) rgba(130,86,59,.62);
		.books__rating-info{
			color: #fff;
		}
	}
}
.books__left{
	float: left;
	width: 180px;
	text-align: center;
}
.books__pic{
	padding: 25px 0 18px 0;
}
.books__rating{
	margin-bottom: 10px;
	font-size: 0;
	img {
		margin: 0 2px;
	}
}
.books__rating-info{
	text-align: center;
	font-size: 9px;
	color: #b1b1b1;
	text-shadow: #000 0 1px 1px;
	text-transform: uppercase;
}
.books__right{
	padding: 25px 35px 0 0;
	overflow: hidden;
}
.books__detail{
	margin-bottom: 20px;
	a{
		display: block;
		margin-bottom: 10px;
		@include rfont;
		font-size: 28px;
		line-height: 1;
		text-shadow: 0 1px 1px rgba(0,0,0,.75);
		font-weight: normal;
	}
	span{
		display: block;
		color: #FFF;
	}
	p{
		font-size: 12px;
		color: #FFF;
		line-height: 1.5;
	}
}
.books__social{
	padding-left: 5px;
	margin-bottom: 20px;
	opacity: 0.4;
}
.books__links{
	padding-left: 5px;
	font-size: 0;
	a{
		position: relative;
		display: inline-block;
		padding-left: 30px;
		margin-right: 23px;
		@include rfont;
		font-size: 17px;
		text-shadow: 0 2px 0 #000;
	}
	i{
		position: absolute;
		&.ico-comm{
			top: 4px;
			left: 0;
		}
		&.ico-write{
			top: 2px;
			left: 5px;
		}
	}
}
//last-news
.last-news{
	margin: -120px 0 60px 0;
	padding-top: 65px;
}
.last-news__in{
	padding-top: 132px;
	background: url(../img/video-bg.png) 43% 0 no-repeat;
}
.last-news__video{
	width: 700px;
	height: 435px;
	margin: 0 0 100px 183px;
}
.last-news__title{
	margin-bottom: 70px;
	text-align: center;
	font-size: 32px;
	line-height: 1;
	@include rfont;	
	color: #e65a01;
	h2 {
		font-weight: normal;
	}
	span{
		display: block;
		color: #fff;
	}
}
//block-list
.block-list{
	margin-right: -30px;
	ul{
		position: relative;
	}
	li{
		width: 235px;
		float: left;
		margin: 0 24px 24px 0;
		//border: 1px solid #3c3836;
		box-shadow: rgba(255,255,255,.9) 0 0 1px;
		background: rgba(0,0,0,.62);
		font-size: 0;
		&:hover{
			background: url(../img/news-bg.jpg);
		}
	}
	a{
		display: block;
		padding: 10px;
		margin: 1px;
	}
	img{
		margin-bottom: 25px;
	}
	span{
		display: inline-block;
		margin-left: 10px;
		background: #522b09;
		font-size: 9px;
		text-transform: uppercase;
		padding: 5px 5px 3px;
		line-height: 1;
		color: #fff;
		text-shadow: 0 1px 1px #000;
	}
	p {
		padding: 10px;
		font-size: 12px;
		color: #FFF;
		line-height: 1.5;
	}
}
//social-plugs
.social-plugs{
	margin-bottom: 25px;
}
//tabs
.tabs__nav{
	margin-bottom: 20px;
	text-align: center;
	font-size: 0;
	li{
		display: inline-block;
		height: 42px;
		line-height: 42px;
		padding: 0 20px;
		@include rfont;
		font-size: 21px;
		color: #FFF;
		cursor: pointer;
		a{
			color: #fff;
			&:hover{
				color: #ebb444;
			}
		}
		&:hover{
			color: #ebb444;
		}
		&.is-active{
			background: url(../img/tabs-bg.png);
			color: #000;
			cursor: default;
			a{
				color: #000;
			}
		}
	}
}
.tabs__content{
	margin-bottom: 60px;
	.block-list{
		margin: 0 0 0 35px;
	}
}
//profile
.profile{
	margin: 5px 10px 22px 0;
	padding: 23px 15px 18px 23px;
	background: rgba(130,86,59,.62);
	text-shadow: rgba(0,0,0,.75) 0 1px 1px;
}
.profile__info{
	margin-bottom: 20px;
	@extend %clr;
}
.profile__ava{
	float: left;
	margin-right: 13px;
	img{
		display: block;
		border: 6px solid #fff;
		box-shadow: rgba(0,0,0,.73) 0 2px 2px;
	}
}
.profile__desc{
	float: left;
	width: 410px;
}
.profile__name{
	margin-bottom: 10px;
	@include rfont;
	font-size: 23px;
	color: #f8ead6;
	line-height: 1;
}
.profile__social{
	margin-bottom: 10px;
	@extend %clr;
	li{
		float: left;
		margin-right: 5px;
		list-style: none;
	}
	a{
		display: block;
		box-shadow: rgba(0,0,0,1) 0 0 1px, rgba(0,0,0,.3) 0 1px 0 inset, rgba(255,255,255,.3) 0 -1px 0 inset;
	}
	@each $s in fb,vk,mr,tw,yr,lj,ok{
		.profile__#{$s}{
			@include s($icons, profile__#{$s});
		}
	}
}
.profile__activity{
	font-size: 11px;
	color: #FFF;
	text-transform: uppercase;
	span{
		display: block;
		text-transform: none;
	}
}
.profile__lvl{
	padding-bottom: 10px;
	margin-bottom: 5px;
	border-bottom: 1px solid #a27b5d;
	@extend %clr;
	strong{
		float: left;
		margin-right: 20px;
		@include rfont;
		font-size: 28px;
		color: #ffcf8a;
		font-weight: normal;
		line-height: 1;
	}
	.border{
		position: relative;
		float: left;
		width: 358px;
		margin-top: 6px;		
		border-width: 10px 21px;
		span, i{
			position: absolute;
			height: 14px;
		}
		span{
			top: -7px;
			right: -17px;
			bottom: -7px;
			left: -17px;			
		}
		i{
			top: 0;
			left: 0;
			background: url(../img/lvl.jpg);
			box-shadow: #f6de91 0 0 5px 2px inset;
		}
	}
}
.profile__statistic{
	margin-bottom: 15px;
	padding-left: 5px;
	strong{
		margin-bottom: 5px;
		@include rfont;
		font-size: 26px;
		color: #f0e0c9;
		font-weight: normal;
	}
	ul{
		overflow: hidden;
	}
	li{
		float: left;
		width: 90px;
		margin-left: 25px;
		padding: 0 0 5px 25px;
		border-left: 1px solid #986f4d;
		color: #f1e4d1;
		font-size: 32px;
		list-style: none;
		span{
			display: block;
			min-height: 50px;
			@include rfont;
			font-size: 16px;
			color: #ffcf8a;
			line-height: 1.0;
		}
		&.profile__pvp{
			width: auto;
		}
		&:first-child{
			padding: 0;
			margin: 0;
			border: none;
		}
	}
}
.profile__progress{
	strong{		
		@include rfont;
		font-size: 16px;
		font-weight: normal;
		color: #ffcf8a;
	}
	ul{
		margin-top: 10px;
		overflow: hidden;
	}
	li{
		float: left;
		width: 80px;
		margin-right: 15px;
		list-style: none;
	}
	img{
		box-shadow: rgba(0,0,0,.75) 0 2px 2px;
	}
	p{
		margin-top: 10px;
		font-size: 10px;
		color: #FFF;
		span{
			display: block;
			text-transform: uppercase;
			line-height: 1;
		}
	}
}
//creative
.creative{
	margin-right: 10px;
	.border{
		margin-bottom: 20px;
		height: 1px;
		@include rfont;
		font-size: 23px;
		color: #f8ead6;
		text-align: center;
		span{
			position: relative;
			top: -17px;
			text-transform: uppercase;
		}
	}
}
.creative__content{
	margin-right: 10px;
	padding: 0 10px;
}
.creative__item{
	border-top: 1px solid #a27b5d;
	overflow: hidden;
	&:first-child{
		border: none;
	}
}
.creative__top{
	overflow: hidden;
	.creative__rating{
		float: right;
	}
	.creative__name{
		float: left;
	}
}
.creative__name{
	padding: 10px 0 15px 0;
	a{
		@include rfont;
		font-size: 16px;
		color: #ffcf8a;
		text-transform: uppercase;
	}
	span{
		display: block;
		font-size: 11px;
		color: #949494;
	}
}
.creative__rating{
	padding: 10px 0 15px 0;
	overflow: hidden;
	li{
		float: left;
		font-size: 0;
		&:first-child{
			margin-right: 15px;
		}		
	}
	span, strong{
		display: inline-block;
		vertical-align: middle;		
	}
	span{
		margin-right: 8px;
		color: #949494;
		font-size: 11px;
		text-transform: uppercase;
	}
	strong{
		font-weight: normal;
		@include rfont;
		font-size: 20px;
		color: #f0e0c9;
	}
}
.creative__desc{
	margin-bottom: 15px;
	p{
		font-size: 12px;
		color: #FFF;
		line-height: 1.5;
	}
}
.creative__block{
	float: left;
	width: 200px;	
	.creative__name{
		padding: 10px 0 7px 0;
	}
	.creative__rating{
		padding: 5px 0 15px;
	}
	&:first-child{
		margin-right: 80px;
	}
}
.creative__pic{
	img{
		padding: 9px;
		border: 1px solid #433d3c;
	}
}
//person
.person{
	margin-bottom: 30px;
	text-align: center;	
	@include rfont;
	.border{		
		font-size: 23px;
		color: #f8ead6;		
	}
}
.person__detail{
	position: relative;
	width: 385px;
	height: 450px;
	margin: 3px 0 1px 2px;
	background: #2e2a25;
	z-index: 10;
	img{
		margin: 45px 0 5px 0;
	}
}
.person__vuebon-1, .person__vuebon-2, .person__vuebon-3, .person__vuebon-4{
	position: absolute;
	z-index: 5;
}
.person__vuebon-1{
	top: -6px;
	left: -60px;
	@include s($icons, vuebon-1);
}
.person__vuebon-2{
	top: -7px;
	right: -65px;
	@include s($icons, vuebon-2);
}
.person__vuebon-3{
	bottom: -12px;
	right: -40px;;
	@include s($icons, vuebon-3);
}
.person__vuebon-4{
	bottom: -11px;
	left: -94px;
	@include s($icons, vuebon-4);
}
//weapons & equipment
.weapons, .equipment{
	margin-bottom: 40px;
	&.border-aside{
		.border{
			top: -20px;
			border-width: 15px 21px;
			font-size: 11px;
			color: #b1b1b1;
			text-transform: uppercase;
			span{
				top: -6px;			
			}
		}
	}	
}
.weapons__detail{
	margin: 25px 0 15px 0;
	text-align: center;
	span{
		display: block;
		margin-bottom: 5px;
		font-size: 11px;
		color: #b1b1b1;
		text-transform: uppercase;
	}
}
.equipment__list{
	padding: 25px 10px;
	overflow: hidden;
	li{
		float: left;
		width: 110px;
		margin-left: 20px;
		text-align: center;
		color: #b1b1b1;
		list-style: none;
		&:first-child{
			margin: 0;
		}
	}
	span{
		text-transform: uppercase;
	}
	img{
		margin: 10px 0;
	}
}
//border
.border{
	border: 21px solid #000;
	background: #000;
	box-shadow: #000 0 3px 5px;
	-webkit-border-image: url(../img/border.jpg) 21 round round;
	   -moz-border-image: url(../img/border.jpg) 21 round round;	 
	     -o-border-image: url(../img/border.jpg) 21 round round;
	        border-image: url(../img/border.jpg) 21 round round;
	span{
		display: block;
		text-align: center;
		position: relative;
		top: -17px;
		text-transform: uppercase;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}	
.border-aside{
	position: relative;
	border: 5px solid #000;
	background: url(../img/border-mod-bg.jpg);
	box-shadow: #000 0 3px 5px;
	-webkit-border-image: url(../img/border-mod.jpg) 5 round round;
	   -moz-border-image: url(../img/border-mod.jpg) 5 round round;	 
	     -o-border-image: url(../img/border-mod.jpg) 5 round round;
	        border-image: url(../img/border-mod.jpg) 5 round round;
	.border{
		position: absolute;
		top: -25px;
		left: 88px;
		width: 170px;
		height: 1px;
		text-align: center;
		z-index: 15;		
	}
}