/*scroll*/
.jspContainer
{
   overflow: hidden;
   position: relative;

}
.jspPane
{
   position: absolute;
   width: 100% !important;
}
.jspVerticalBar
{
   position: absolute;
   top: 0;
   right: 12px;
   width: 6px;
   height: 100%;  
   @include transition(opacity,.2s,linear);
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
}

.jspHorizontalBar
{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 16px;
   background: red;
   display: none;
}
.jspVerticalBar *,
.jspHorizontalBar *
{
   margin: 0;
   padding: 0;
}
.jspCap
{
   display: none;
}
.jspHorizontalBar .jspCap
{
   float: left;
}
.jspTrack
{
   width: 6px;
   border: 1px solid #614F42;
   @include box-sizing(border-box);
   position: relative;
}
.jspDrag
{
   position: relative;
   top: 0;
   left: -1px;
   right: -1px;
   width: 4px;
   background: #F4A83E;
   border: 1px solid #F4A83E;
   cursor: pointer;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
   float: left;
   height: 100%;
}
.jspArrow
{
   background: #50506d;
   text-indent: -20000px;
   display: block;
   cursor: pointer;
}
.jspArrow.jspDisabled
{
   cursor: default;
   background: #80808d;
}
.jspVerticalBar .jspArrow
{
   height: 16px;
}
.jspHorizontalBar .jspArrow
{
   width: 16px;
   float: left;
   height: 100%;
}
.jspVerticalBar .jspArrow:focus
{
   outline: none;
}
.jspCorner
{
   background: #eeeef4;
   float: left;
   height: 100%;
}
* html .jspCorner
{
   margin: 0 -3px 0 0;
}