// default layout
$width: 1090px;
.outer{
	width: $width;
	margin: 0 auto;
}
.footer__in{
	width: $width;
	margin: 0 auto;;
}
.l{
	width: 100%;
	overflow: hidden;
	margin-right: -37px;
	.l-col1{
		float:left;
		width: 20%;
	}

	.l-col2{
		float:right;
		width: 70%;
	}
	.l-col{
		width: 338px;
		margin-right: 35px;
		float: left;
		&.l-col_last{
			margin-right: 0;
		}
	}
}

